{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}

        {{ form_label(edit_form.title) }}
        {{ form_errors(edit_form.title) }}
        {{ form_widget(edit_form.title) }}
        <br>
        {{ form_label(edit_form.text) }}
        {{ form_errors(edit_form.text) }}
        {{ form_widget(edit_form.text) }}
        <br>
        <input type="submit" class="btn btn-primary"  value="Update" />
    {{ form_end(edit_form) }}

    <br>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
