{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: List posts{% endblock %}
{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'publish.List_messages' | trans }}</h1>
        <div class="count">
            {{ pagination.getTotalItemCount }}
        </div>
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title' | trans, 'p.title') }}</th>
                <th>Text</th>
                <th>{{ knp_pagination_sortable(pagination, 'Published' | trans, 'p.updated') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td><a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ post.id }}</a></td>
                <td><a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ post.title }}</a> </td>
                <td>{{ post.text | slice(0,50) }} ...  <a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ "read more" | trans }}</a></td>
                <td>{{ post.updated | date('d.M.Y') }}  </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'slug': post.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'slug': post.slug }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
