{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} ::  Search result{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{% if searchRes is empty %}
            <p> no search results for {{ keyWords }} </p>
        {% else %}    
        <dl>
        <h3> There are {{ searchRes|length }}  results for keyword(s) {{ keyWords }}</h3>
        {% for res in searchRes %}
                    <dt>
                        <h3>{{ res[0].title | raw }}</h3>
                        <p>{{ "Published on" | trans }}: {% if res[0].created %}{{ res[0].created|date('d. M Y.') }}{% endif %}</p>
                    </dt>
                    <dd>{{ res[0].text | raw }}</dd>
                    <hr>
        {% endfor %}
        </dl>
        {% endif %}
{% endblock %}
