{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} ::  Search result{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{% if searchRes is empty %}
            <h3>{% trans %} no search results for %keyWords% {% endtrans %}</h3>
        {% else %}
            {% set numS = searchRes|length %}
            <dl>
            <h3>{% transchoice numS with {'%numS%': numS} %}plural_trans{% endtranschoice %} {{ keyWords }}</h3>
            {% for res in searchRes %}
                        <dt>
                            <h3>{{ res[0].title | raw }}</h3>
                            <p>{{ "Published on" | trans }}: {% if res[0].created %}{{ res[0].created|date('d. M Y.') }}{% endif %}</p>
                        </dt>
                        <dd><div id="map{{res[0].id}}" class="map-left"> {{ res[0].latLang }} </div> {{ res[0].text | raw }}</dd>
                        <hr>
            {% endfor %}
            </dl>
        {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ytq0lf_FAeZg9MKJwockhO73p1J93co"></script>
    {% for res in searchRes %}    
        <script type="text/javascript">
            function initialize{{res[0].id}}() {
                var myLatlng{{res[0].id}} = new google.maps.LatLng({{res[0].latLang}});
                var mapOptions = {
                    center: new google.maps.LatLng({{res[0].latLang}}),
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map{{res[0].id}} = new google.maps.Map(
                        document.getElementById("map{{res[0].id}}"),
                        mapOptions
                );
                var marker1 = new google.maps.Marker({
                    position: myLatlng{{res[0].id}},
                    map: map{{res[0].id}}
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize{{res[0].id}});
        </script>
    {% endfor%}    
{% endblock %}
