{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} ::  Search result{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{{ dump (what)}}
    <dl>
    {% for res in searchRes %}
	    {% if res.score != 0 %}
	        <dt><h3>{{ res[0].title | raw }}</h3></dt>
	        <dd>{{ res[0].text | raw }}</dd>
	        <hr>
	    {% endif %}
    {% endfor %}
	</dl>
{% endblock %}
