{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} ::  Search result{% endblock %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{% if searchRes is empty %}
            <h3>{% trans %} no search results for %keyWords% {% endtrans %}</h3>
        {% else %}
            {% set numS = searchRes|length %}
            <dl>
            <h3>{% transchoice numS with {'%numS%': numS} %}plural_trans{% endtranschoice %} {{ keyWords }}</h3>
            {% for res in searchRes %}
                        <dt>
                            <h3>{{ res[0].title | raw }}</h3>
                            <p>{{ "Published on" | trans }}: {% if res[0].created %}{{ res[0].created|date('d. M Y.') }}{% endif %}</p>
                        </dt>
                        <dd><div id="map{{res[0].id}}" class="map-left"> {{ res[0].latLang }} </div> {{ res[0].text | raw }}</dd>
                        <hr>
            {% endfor %}
            </dl>
        {% endif %}
{% endblock %}
