{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: {{ post.title }}{% endblock %}
{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>{{ post.title }}</h1>
<br>
<p>{{ "Published on" | trans }}: {% if post.created %}{{ post.created|date('Y-m-d H:i:s') }}{% endif %}</p>
<br>
    <table>
        <tbody>
        <tr>
            <td>{{ post.text }}</td>
        </tr>
        </tbody>
    </table>
    <br><br>


    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
