{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} :: Forbidden page
{% endblock %}


{% block body %}
    <div class="alert alert-warning">
		{{ 'admin_warn_1' | trans }}<a href="{{ path('fos_user_security_login') }}">{{ 'publish.login' | trans }}</a> {{ 'admin_warn_2' | trans }}
    </div>
{% endblock %}
